@import "rsuite/dist/rsuite.css";

.auth_login_page .rs-content {
  margin-top: 20vh;
}

.auth_signup_page .rs-content {
  margin-top: 15vh;
}

@media only screen and (max-width: 900px) {
  .rs-flex-box-grid-item-8 {
    width: 66.333333%;
  }
}

@media only screen and (max-width: 400px) {
  .rs-flex-box-grid-item-8 {
    width: 99%;
  }
}

.page-container {
  padding: 15px;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
